html{scroll-behavior: smooth;}
body{
    background-color: #ffd78f;
}
/* set fonts */
@font-face {
    font-family: "Sonic Turbo";
    src: url("../fonts/SonicTurbo.otf");
    font-weight: auto;
}
@font-face {
    font-family: "Sonic Empire";
    src: url(../fonts/SonicEmpireItalic.ttf);
    font-weight: auto;
}
h1{
    font-family: "Sonic Empire", "Poetsen One", sans-serif;
    font-size: 80px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    color: #ffd024;
    background-color: rgba(48, 97, 227, .5);
    text-shadow: 6px 5px 6px rgb(48, 97, 227); /* x-axis, y-axis, blur radius, shadow color */
}
/* differently align sections of text (lyrics) */
.left-aligned{
    text-align: left;
    padding-left: 40px;
}
.center-aligned{
    text-align: center;
}
.right-aligned{
    text-align: right;
    padding-right: 40px;
}

/* apply different fonts to different spans */
.font-1{
    font-family: "Sonic Turbo", "Bruno Ace", sans-serif;
}
.font-2{
    font-family: "Sonic Empire", "Bruno Ace", sans-serif;
}
.font-3{
    font-family: "Nabla", sans-serif;
}
.font-4{
    font-family: "Sixtyfour", sans-serif;
}

h2,h3,h4,h5,h6, p{
    font-family: "Bruno Ace", sans-serif;
}
p{
    font-size: 35px;
    font-style: none;
}
/* resize & center header image */
header, .video-masthead{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header{
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.video-masthead{
    background-color: #3061e3;
    border-radius: 10px;
}

header div a img{
    width: auto;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* center video */
.video-masthead{
    display: flex;
    align-items: center;
    height: 500px;
    margin-bottom: 30px;
}
.video-masthead iframe{
    height: 400px;
    width: 800px;
}