/** 
Jellycat Website Colour Scheme (complementary colours)
Orange: #fd8204
Pale Orange: #ffd2a4
Blue: #33CEE5
Pale Turquoise: #d8e7e5
Black: #282421
White: #f8f8f8
**/

/**
STYLING IDEAS
- dropdown menus
- parallax backgrounds (e.g. masthead)
- product pages - multiple images per product, image scrolling
- hover effects
**/
html{scroll-behavior: smooth;}
body{
    background-color: #d8e7e5;
    margin: 0;
}
@font-face {
    font-family: "Alata Regular";
    src: url("../fonts/alata-regular.ttf");
    font-weight: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Alata Regular", "Mukta Malar", sans-serif;
}
p,li,a,figcaption,blockquote{
    font-family: "Mukta Malar", sans-serif;
}
/* HEADER */
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    padding: 0 100px;
    background-color: #f8f8f8;
}
#header div{
    flex-grow: 1;
}
/* resize header logo */
#header div img{
    width: 100px;
    height: auto;
}
#header nav menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-transform: lowercase;
}
#header nav menu li{
    padding: 10px 30px;
}
#header nav menu li a{
    text-decoration: none;
    font-size: 28px;
    color: #fd8204;
    transition: all .25s linear;
    font-family: "Alata Regular", "Mukta Mular", sans-serif;
}
#header nav menu li a:hover{
    font-size: 25px;
    color: #ffd2a4;
    transition: all .25s linear;
}

/* line on header menu and footer */
#header .line, #footer .line{
    border: none;
    height: 3px;
    width: 70%;
    background-color: #33CEE5;
}



/** Mastheads **/
.home-masthead img, .about-masthead img{
    width: 100%;
    height: auto;
}

/** HOMEPAGE **/


/** ABOUT PAGE **/


/** SHOP PAGE **/

.product-1 img:hover{
    content: url("../img/products/product-1/dog.gif");
}
.product-2 img:hover{
    content: url("../img/products/product-2/frog.gif");
}
.product-3 img:hover{
    content: url("../img/products/product-3/capybara.gif");
}

/** PRODUCT PAGES **/



/** CONTACT PAGE **/


/* FOOTER */
#footer{
    background-color: #f8f8f8;
}
#footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: auto;
    padding: 0 100px;
}
/* resize footer logo */
#footer div img{
    width: 130px;
    height: auto;
}
#footer .sns-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .sns-icons img{
    height: 40px;
    width: auto;
    padding: 2px 10px;
}
/* horizontally center navs */
#footer #footer-nav nav{
    display: flex;
    align-items: center;
}
#footer #footer-nav nav menu{
    list-style: none;
    padding: 0 30px;
    font-size: 20px;
}
#footer #footer-nav nav menu li a{
    text-decoration: none;
    color: #0e0e0e;
    line-height: 30px;
}
/* change footer links text color on hover */
#footer #footer-nav nav menu li a:hover{
    color: #33CEE5;
}