/** 
Jellycat Website Colour Scheme (complementary colours)
Orange: #fd8204
Blue: #13bfd6
Black: #282421
White: #f8f8f8
**/

/**
STYLING IDEAS
- dropdown menus
- parallax backgrounds (e.g. masthead)
- product pages - multiple images per product, image scrolling
- hover effects
**/


/* HEADER */


/* FOOTER */


/* HOMEPAGE */


/* ABOUT PAGE */


/* SHOP PAGE */


/* PRODUCT PAGES */


/* CONTACT PAGE */
