/**
Bright Yellow: #FADD4B
Bright Orange: #E26D12
Bright Red: #D31821
Bubblegum Pink: #DA5F9C
Salmon: #FCB79E
Cream: #FEE8B8
**/

html{scroll-behavior: smooth;}

body{
    background-color: #FEE8B8;
    margin: 0;
    padding: 0;
}
/* FONTS */
h1,h2,h3,h4,h5,h6{
    font-family: "DynaPuff", "Montserrat Alternates", sans-serif;
    font-weight: 300;
}
p, a, li, td, figcaption, blockquote, input, label{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
/* HEADER */
.logo-container img{
    width: 200px;
    height: auto;
}
header{
    background-color: #FEE8B8;
}
header, footer {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
header div{
    width: auto;
    height: 100%;
    flex-grow: 1;
}
header div img{
    width: auto;
    height: 100%;
}
header menu{
    display: flex;
    align-items: center;
}
header menu li{
    list-style: none;
    padding: 5px 15px;
}
header menu li a{
    color: #D31821;
    font-size: 25px;
    font-weight: 600;
    transition: all .25s ease-in-out;
}
header menu li a:hover{
    color: #ff7866;
    transition: all .25s ease-in-out;
}
/* BODY */
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
}
.masthead img{
    height: auto;
    width: 100%;
}
/* body sections */
.sec1, .sec2, .sec3{
    padding: 40px 100px;
}
.sec1 h2, .sec2 h2, .sec3 h2{
    font-size: 40px;
}
.sec1 p, .sec2 p, .sec3 p{
    line-height: 35px;
}
/* section 1 - ABOUT */
.sec1{
    background-image: linear-gradient(180deg, #FADD4B, #E26D12);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 p{
    padding-right: 80px;
}
.sec1 img{
    clip-path: circle(50%);
}
/* section 2  - PRODUCTS */
.sec2{
    background-image: linear-gradient(180deg, #FCB79E, #DA5F9C);
}
.sec2 h2, .sec2 p{
    text-align: center;
}
/* section 2 - PRODUCT CARDS */
.sec2 section{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* add background & border to each product card */
.product-1, .product-2, .product-3{
    background-color: #FEE8B8;
    border-radius: 10px;
    border: solid 3px #D31821;
    margin: 0 40px;
    padding-top: 20px;
    width: 50%;
}
/* center product images */
.sec2 div img{
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-1 p, .product-2 p, .product-3 p{
    color:#D31821;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
}
/* "where to buy" buttons on product cards */
.sec2 .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
    height: 35px;
    background-color: #DA5F9C;
    border: solid 2px #D31821;
    border-radius: 5px;
    padding-top: 12px;
    margin-top: -15px;
    margin-bottom: 20px;
    transition: all .3s linear;
}
/* change btn appearance when hovering */
.sec2 .button:hover{
    cursor: pointer;
    background-color: #D31821;
    transition: all .3s linear;
}
.sec2 .button a{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
}
.sec2 .button a h4{
    margin-top: -3px;
}

/* section 3 - INGREDIENTS */
.sec3{
    background-image: linear-gradient(180deg, #FADD4B, #E26D12);
}
.sec3 h6{
    font-size: 25px;
    padding: 0;
    margin: 0;
}
/* FORM */
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 3px #D31821;
    border-radius: 10px;
    margin: 20px 200px;
    background-color: #FADD4B;
}
.contact-form h4{
    text-align: center;
    font-size: 30px;
}
.contact-form section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: left;
}
.contact-form label{
    font-size: 22px;
}
.contact-form input{
    font-size: 20px;
    width: 100%;
    padding: 7px;
    border: solid 2px #D31821;
    border-radius: 5px;
}
.contact-form span{
    color: #D31821;
    font-weight: 500;
}
.user-input p input{
    height: 150px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn p input{
    width: 200px;
    height: 50px;
    color: #f8f8f8;
    background-color: #E26D12;
    border-color: #D31821;
    font-weight: 600;
    transition: all .25s ease-in-out;
}
/* change button appearance on hover */
.submit-btn p input:hover{
    color: #FADD4B;
    background-color: #D31821;
    border-color: #E26D12;
    border-radius: 25px;
    transition: all .25s ease-in-out;
    cursor: pointer;
}
/* FOOTER */
footer{
    background-image: linear-gradient(180deg, #E26D12, #D31821);
}
footer nav{
    display: flex;
    align-items: center;
}
footer nav menu{
    list-style: none;
}
footer menu li{
    list-style: none;
    padding: 5px 15px;
}
footer menu li a{
    color: #f8f8f8;
    font-size: 20px;
    transition: all .25s ease-in-out;
}
/* change footer nav items color on hover */
footer menu li a:hover{
    color: #FADD4B;
    transition: all .25s ease-in-out;
}
footer div p{
    padding-left: 50px;
    font-size: 15px;
    color: #f8f8f8;
}