/**
Bright Yellow: #FADD4B
Bright Orange: #E26D12
Bright Red: #D31821
Salmon: #FCB79E
Cream: #FEE8B8
**/


/*****************

body{
    margin: 0;
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
    'head head head head'
    'mast mast mast mast'
    'main main main main'
    'foot foot foot foot';
    background-color: #f6f4f5;
}
***********************/

html{scroll-behavior: smooth;}

body{
    background-color: #FEE8B8;
    margin: 0;
    padding: 0;
}


/* FONTS */
h1,h2,h3,h4,h5,h6{
    font-family: "DynaPuff", sans-serif;
    font-weight: 300;
}
p, a, li, td, figcaption, blockquote, input, label{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    text-decoration: none;
}


.logo-container img{
    width: 200px;
    height: auto;
}
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
}
.masthead img{
    height: auto;
    width: 100%;
}
/* HEADER */
header{
    background-image: linear-gradient(180deg, #FADD4B, #FCB79E);
}
header, footer {
    display: flex;
    align-items: center;
}
header div{
    width: auto;
    height: 100%;
    flex-grow: 1;
}
header div img{
    width: auto;
    height: 100%;
}
header menu{
    display: flex;
    align-items: center;
}
header menu li{
    list-style: none;
    padding: 5px 15px;
}
header menu li a{
    color: #D31821;
    font-size: 25px;
    font-weight: 600;
}
header menu li a:hover{
    color: #ff7866;
    transition: all .25s ease-in;
}
.sec1{
    background-image: linear-gradient(180deg, #FADD4B, #FCB79E);
}
.sec3{
    background-image: linear-gradient(180deg, #FADD4B, #E26D12);
}

/* FORM */
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    border: dotted 3px #D31821;
    border-radius: 10px;
    margin: 20px 200px;
}
.contact-form h4{
    text-align: center;
    font-size: 30px;
}
.contact-form section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: left;
}
.contact-form input{
    font-size: 20px;
    width: 100%;
    padding: 7px;
    border: solid 2px #D31821;
    border-radius: 5px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn p input{
    width: 200px;
    height: 50px;
    color: #f8f8f8;
    background-color: #E26D12;
    border-color: #D31821;
    font-weight: 600;
    transition: all .25s ease-in-out;
}
/* change button appearance on hover */
.submit-btn p input:hover{
    color: #FADD4B;
    background-color: #D31821;
    border-color: #E26D12;
    border-radius: 25px;
    transition: all .25s ease-in-out;
}
/* FOOTER */
footer{
    background-image: linear-gradient(180deg, #E26D12, #D31821);
}