<section>
    <div class="logo-container">
        <a href="index.html">
            <img src="./img/logos/jellycat-logo.png" alt="footer logo">
        </a>
    </div>
    <!-- social media icons linking to official Jellycat pages -->
    <div class="sns-icons">
        <!-- Instagram icon -->
        <a href="https://www.instagram.com/jellycat/">
            <img src="./img//logos/instagram-logo.png" alt="instagram logo">
        </a>
        <!-- X icon -->
        <a href="https://x.com/jellycatlondon">
            <img src="./img/logos/x-logo.png" alt="x logo">
        </a>
        <!-- Facebook icon -->
        <a href="https://www.facebook.com/jellycatlondon/">
            <img src="./img/logos/facebook-logo.png" alt="facebook logo">
        </a>
        <!-- TikTok icon -->
        <a href="https://www.tiktok.com/@jellycat">
            <img src="./img/logos/tiktok-logo.png" alt="tiktok logo">
        </a>
    </div>
    <div id="footer-nav">
        <nav>
        <menu>
            <li><a href="#">Contact & Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Where to Buy</a></li>
        </menu>
        <menu>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </menu>
    </nav>
    </div>
    
</section>
<hr class="line">
<div class="copyright">
    <p>© Jellycat Limited 2025</p>
    <p>All rights reserved</p>
</div>
